body {
	padding-top: 50px;
}

.principal {
	padding: 40px 15px;
	text-align: center;
}


#form-container {


    display: flex;

    justify-content: center;
    align-items: center
}

#form-box {
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
}

#form-box input {
    font-size: large;
}
